<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- JQUERY SCRIPT -->
    <!-- <script src="/javascripts/jquery.min.js"></script> -->
    <!-- <script src="/javascripts/jquery-latest.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- D3 SCRIPTS  FOR RENDER GLOBE-->
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/topojson-client@2"></script> -->

    <!-- CHANGED ABOVE D3V4 SOURCE TO V3 TO INCLUDE ZOOM  -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <!-- <script src="/javascripts/versor.js"></script> -->
    <!-- <script src="/javascripts/render_globe.js"></script> -->
    <script src="/javascripts/render_map.js"></script>
    <script src="/javascripts/reload_map_d3.js"></script>
    <script src="/javascripts/show_content.js"></script>
    <script src="/javascripts/show_personality.js"></script>
    
    
    <!-- MAIN SCRIPT -->
    <script src="javascripts/main.js"></script>
    
   
   


  </head>
  <body >

 

    <!-- HEADER YEAR SECTION -->
    <div id='year_range'>
        <div class="slidecontainer" style="float:left;">
          <!-- CHANGE HERE the min and max range -->
            <input type="range" min="1" max="2000" value="1900" class="slider" id="myRange">
          </div>
         <div class="select_year" style="float:left;">
           <!-- CHANGE HERE the min and max range -->
            <input type="number" min="1" max="2000" id="year"> 
         </div>
         <div style="float:left;">
            <!-- <input type="button" value="GO" id="submit" onclick="on_year()"> -->
            <input type="image" src="images/button.jpg" width="22" height="22" alt="Search Year" id="submit" onclick="on_year()">
         </div>
      </div>
    <!-- HEADER YEAR SECTION ENDS -->

     <!-- INSERT PAGE BREAKS TO POSITION THE CANVAS PROPERLY -->   
     <br /><br />
     <!-- INSERT NEXT PREVIOUS BUTTON -->
     <a href="#" class="previous round" onclick="previous_year()">&#8249;</a>
     <a href="#" class="next round" onclick="next_year()">&#8250;</a>

    <div id="container">
      <div >
       
            <!-- <canvas id="globe" width="860" height="600"></cavnas> -->
              <svg id="globe"></svg>
            
      </div id="text">
    
      
        
        <h1 id="event_country"></h1>
        <ul id="event"></ul>

      </div>       
    <div>

      <svg id="personality"></svg>
      <!-- <svg id="personality" width="860" height="600"><rect x="30" y="661" height="10" width="39" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)"></rect><rect x="30" y="620" height="10" width="80" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)"></rect><rect x="30" y="663" height="10" width="37" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)"></rect></svg> -->
      
    </div>
          

    </div>
 
    

    
    
  </body>
</html>
