<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- JQUERY SCRIPT -->
    <!-- <script src="/javascripts/jquery.min.js"></script> -->
    <!-- <script src="/javascripts/jquery-latest.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- D3 SCRIPTS  FOR RENDER GLOBE-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/topojson-client@2"></script>
    <script src="/javascripts/versor.js"></script>
    <script src="/javascripts/render_globe.js"></script>
    
    
    <!-- MAIN SCRIPT -->
    <script src="javascripts/main.js"></script>
    
   
   


  </head>
  <body >

 

    <!-- HEADER YEAR SECTION -->
    <div id='year_range'>
        <div class="slidecontainer" style="float:left;">
          <!-- CHANGE HERE the min and max range -->
            <input type="range" min="1900" max="2000" value="1950" class="slider" id="myRange">
          </div>
         <div class="select_year" style="float:left;">
           <!-- CHANGE HERE the min and max range -->
            <input type="number" min="1900" max="2000" id="year"> 
         </div>
         <div style="float:left;">
            <input type="button" value="GO" id="submit" onclick="on_year()">
         </div>
      </div>
    <!-- HEADER YEAR SECTION ENDS -->

     <!-- INSERT PAGE BREAKS TO POSITION THE CANVAS PROPERLY -->   
     <br /><br /><br /><br /><br /><br /><br />

    <div id="container">
      <div >
       
            <canvas id="globe" width="860" height="600"></cavnas>
      </div>
      <div>
<!-- 
        <article id="event">
         
          kaustav
          <br /><br /><br /><br /><br /><br /><br />
          London is the capital city of England. 
          It is the most populous city in the  United Kingdom,
           with a metropolitan area of over 13 million inhabitants.
          Standing on the River Thames, London has been a major 
          settlement for two millennia, its history going back 
          to its founding by the Romans, who named it Londinium.

        </article> -->

        <p id="event"></p>

      </div>       

          

    </div>
 
    

    
    
  </body>
</html>
