body{
    padding: 20px;
}

#home{
    float: right;
    padding-top: 15px
}
#relative_person{
    float:left
}
#A{  
  fill: #d3d3d3;
  fill-opacity: 0.7;
  /* outline: none; */
  /* opacity: 0.7; */
  -webkit-transition: .2s;
  /* transition: opacity .2s; */
}
#B{  
    /* fill: #8b6060; */
    fill: red;
    fill-opacity: 0.7;
    /* outline: none; */
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    /* transition: opacity .2s; */
  }

#C{  
    fill: #d3d3d3;
    fill-opacity: 0.7;
    /* outline: none; */
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    /* transition: opacity .2s; */
  }

#D{  
    /* fill: #877bca; */
    fill: blue;
    fill-opacity: 0.7;
    /* outline: none; */
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    /* transition: opacity .2s; */
  }
  
#E{  
    fill: #d3d3d3;
    fill-opacity: 0.7;
    /* outline: none; */
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    /* transition: opacity .2s; */
  }

  .person_circle{
    stroke: gray;
    stroke-width: 1;
   
  }
  
  .person_circle:hover{
    stroke: red;
    stroke-width: 3;
  }

  